services:
  db:
    image: mysql
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flask_db
      MYSQL_USER: flask_user
      MYSQL_PASSWORD: flask_pass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot | grep 'mysqld is alive' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"

  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      FLASK_ENV: production
      FLASK_APP: wsgi:create_app("production")
      SQLALCHEMY_DATABASE_URI: mysql+pymysql://flask_user:flask_pass@db:3306/flask_db
      SECRET_KEY: super_secret_key
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: flask run --host=0.0.0.0 --port=5000

volumes:
  db_data:
